# ── Go ────────────────────────────────────────────────────────────────────────
*.test
*.out
dist/

# ── Terraform ─────────────────────────────────────────────────────────────────
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfplan
*.tfstate
*.tfstate.*
example.tf
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ── Editor / OS ───────────────────────────────────────────────────────────────
.DS_Store
.idea/
.vscode
*.iml
*~
.*.swp
*.bak
*.backup

# ── Windows ───────────────────────────────────────────────────────────────────
*.dll
*.exe
*.winfile eol=crlf

# ── Logs ─────────────────────────────────────────────────────────────────────
*.log
